.classpath
.project

*.class

# Package Files #
*.jar
*.war
*.ear

/target/
/Servers/
/.settings/
/.classpath/
/.project/
/.DS_Store/
/.metadata/

/.idea/
/bat-villain-core/bat-villain-core.iml
/bat-desk-web/bat-desk-web.iml
/bat-desk.iml
